@model IEnumerable<ClothesShop.ViewModels.PdVM>
@{
    ViewData["Title"] = "เสื้อผ้าผู้หญิง";
}
@*
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage;
    </div>
}
*@
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["SuccessMessage"]
    </div>
}
@{
    var stext = ViewBag.stext;
}

<h1>KU Shop</h1>
<form asp-controller="Home" asp-action="Shop">
    @* <form asp-controller="Product" asp-action="Index"> *@
    <div class="row">
        @*         <div class="col">
        <a class="btn btn-primary" asp-action="Create">เพิ่ม</a>
        </div> *@
        <div class="input-group">
            <span class="input-group-text">ค้นหา</span>
            <input type="search" class="form-control" id="autocompleteTextBox" name="stext" placeholder="Type a name here..." />
            <button type="submit" class="btn btn-secondary">submit</button>

        </div>
    </div>

</form>
<div class="row mt-3">
    @{
        // Materialize the Model into a list
        var modelList = Model.ToList();
        // store id was displayed
        HashSet<string> displayedIds = new HashSet<string>();
    }

    @foreach (var item in modelList)
    {

        var pdimg = "/imgpd/" + item.PdId + ".png";
        string[] parts = item.PdId.ToString().Split('-');
        string id = parts[0] + parts[1];
        // For check each Id was stored or not
        if (!displayedIds.Contains(id))
        {
            displayedIds.Add(id);
        }
        else
        {
            continue;
        }

        List<string> size = new List<string>();
        // Iterate over the list in memory
        foreach (var otherItem in modelList)
        {
            string[] otherParts = otherItem.PdId.ToString().Split('-');
            string otherId = otherParts[0] + otherParts[1];
            if (otherId == id)
            {
                size.Add(otherItem.SizeName);
            }
        }
        <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
            <div class="card px-2" style="width: 18rem;">
                <img src="@pdimg" class="card-img-top img-fluid object-fit-cover" style="height:350px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.PdName</h5>
                    <p class="card-subtitle text-muted">สี: @item.ColorName</p>
                    <p class="card-subtitle text-muted">ขนาด: @string.Join(",", size.Distinct())</p>

                    <a class="btn btn-btn-link" asp-action="show" asp-controller="Product" asp-route-id="@item.PdId">รายละเอียด</a>
                    <a asp-action="AddDtl" asp-controller="Cart" asp-route-pdid="@item.PdId" asp-route-qty="1" class="text-danger float-end"><i class="bi bi-cart-plus-fill"></i></a>
                </div>
            </div>


        </div>
    }
</div>