@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ClothesShop.ViewModels.BuyingVM>

@using System.Globalization;
@*
    
*@
@{
    Layout = "_AdminLayoutEdit";
    <title>Buying</title>

}


@{
    string sDate = "";
    string eDate = "";

    CultureInfo us = new CultureInfo("en-US");
    var theMonth = DateTime.Now.Month;
    var theYear = DateTime.Now.Year;
    if (ViewBag.sDate != null)
        sDate = ViewBag.sDate;
    else
    {
        DateOnly thedate = new DateOnly(theYear, theMonth, 1);
        sDate = thedate.ToString("yyyy-MM-dd", us);
    }

    if (ViewBag.eDate != null)
        eDate = ViewBag.eDate;
    else
    {
        DateOnly thedate = new DateOnly(theYear, theMonth, 1).AddMonths(1).AddDays(-1);
        eDate = thedate.ToString("yyyy-MM-dd", us);
    }
}



@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage;
    </div>
}

@{
    var stext = ViewBag.stext;
}

<!-- Page Heading -->
<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <form asp-controller="Buying" asp-action="Index">
            <div class="row mt-1 mb-2">
                <div class="col-sm-6 col-md-8 col-lg-9">
                    <h1 class="h1 mb-2 text-gray-800">Purchase Orders</h1>
                </div>
                <div class="col-sm-6 col-md-7">
                    <a class="btn btn-primary" asp-action="Create"> 
                        <i class="bi bi-plus-lg"></i>Create Purchase Docuemnt
                    </a>
                </div>
                <div class="col text-end ">
                    <div class="input-group">

                        <span class="input-group-text">Start Date</span>
                        <input type="text" name="sDate" id="sDate" class="form-control" value="@sDate" style="width: calc(1ch * #{@sDate.Length});" />
                        <span class="input-group-text">End Date</span>
                        <input type="text" name="eDate" id="eDate" class="form-control" value="@eDate" style="width: calc(1ch * #{@sDate.Length});" />
                        <button type="submit" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>




                </div>
            </div>
        </form>
        <div class="table-responsive">

            <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Buying ID</th>
                        <th>Supplier ID</th>
                        <th>Supplier Name</th>
                        <th>Date Purchase Order</th>
                        <th>Saleman</th>
                        <th>BuyDocId</th>
                        <th>Quantity</th>
                        <th>Total cost</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No.</th>
                        <th>Buying ID</th>
                        <th>Supplier ID</th>
                        <th>Supplier Name</th>
                        <th>Date Purchase Order</th>
                        <th>Saleman</th>
                        <th>BuyDocId</th>
                        <th>Quantity</th>
                        <th>Total cost</th>
                    </tr>
                </tfoot>
                <tbody>

                    @{
                        var i = 0;
                    }


                    @foreach (var item in Model)
                    {

                        i++;



                        /* Razor page ใช้เครื่องหมาย @ หน้าตัวแปรที่ต้องการแสดงผล */
                        <tr>
                            @* <td>Img</td> *@ @* Img *@
                            <td>@i</td>
                            <td>
                                <a asp-action="Show" asp-route-buyid="@item.BuyId">
                                    @item.BuyId
                                </a>
                            </td>
                            <td>@item.SupId</td>
                            <td>@item.SupName</td>
                            <td>@item.BuyDate.Value.ToString("yyyy-MMM -dd")</td>
                            <td>@item.Saleman</td>
                            <td>@item.BuyDocId</td>
                            <td class="text-end">@item.BuyQty</td>
                            <td class="text-end">@item.BuyMoney</td>




                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

 
@section Scripts {
    <script>
        //ระบุ id ที่ต้องการใช้
        $('#sDate').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d'
        })
        $('#eDate').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d'
        })

    </script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

