@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ClothesShop.ViewModels.ReportPDVM>
@using System.Globalization;
@{
    Layout = "_AdminLayoutEdit";
    <title>Monthly Products Report</title>

}
@{
    string sDate = "";
    string eDate = "";

    CultureInfo us = new CultureInfo("en-US");
    var theMonth = DateTime.Now.Month;
    var theYear = DateTime.Now.Year;
    if (ViewBag.sDate != null)
        sDate = ViewBag.sDate;
    else
    {
        DateOnly thedate = new DateOnly(theYear, theMonth, 1);
        sDate = thedate.ToString("yyyy-MM-dd", us);
    }

    if (ViewBag.eDate != null)
        eDate = ViewBag.eDate;
    else
    {
        DateOnly thedate = new DateOnly(theYear, theMonth, 1).AddMonths(1).AddDays(-1);
        eDate = thedate.ToString("yyyy-MM-dd", us);
    }
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage;
    </div>
}

@{
    var stext = ViewBag.stext;
}

<div class="card shadow mb-4">

    <div class="card-body">
        <form asp-controller="Report" asp-action="SaleMonthlyProducts">
            <div class="row mt-1 mb-1">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h5 class="h1  text-gray-800">Monthly Products Report</h5>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 text-end col-auto">
                    <div class="input-group">
                        
                        <span class="input-group-text">Start Date</span>
                        <input type="text" name="sDate" id="sDate" class="form-control" value="@sDate" style="width: calc(1ch * #{@sDate.Length});" />
                        <span class="input-group-text">End Date</span>
                        <input type="text" name="eDate" id="eDate" class="form-control" value="@eDate" style="width: calc(1ch * #{@sDate.Length});" />
                        <button type="submit" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">

            <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Images</th>
                        <th>Product NO</th>
                        <th>Name</th>
                        <th>Sales quantity</th>
                        <th>income</th>






                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>Images</th>
                        <th>Product NO</th>
                        <th>Name</th>
                        <th>Sales quantity</th>
                        <th>income</th>



                    </tr>
                </tfoot>
                <tbody>

                    @{
                        var i = 0;
                    }


                    @foreach (var item in Model)
                    {

                        var pdimg = "/imgpd/" + item.PdId + ".png";



                        /* Razor page ใช้เครื่องหมาย @ หน้าตัวแปรที่ต้องการแสดงผล */
                        <tr>
                            @* <td>Img</td> *@ @* Img *@
                            <td class="text-center">
                                <div class="mx-auto" style="width: 6rem;">
                                    <img src="@pdimg" class="card-img-top" />
                                </div>

                            </td>
                            <td>@item.PdId</td> @* Product NO *@
                            <td>@item.PdName</td> @* Name*@
                            <td>@item.CdtlQty</td> @* Color *@
                            <td>@item.CdtlMoney</td> @* Size *@




                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        //ระบุ id ที่ต้องการใช้
        $('#sDate').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d'
        })
        $('#eDate').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d'
        })

    </script>
}
