@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    bool noContainerClass = ViewBag.NoContainerClass ?? false;
    var CartId = HttpContextAccessor.HttpContext.Session.GetString("CartId");
    var CartMoney = HttpContextAccessor.HttpContext.Session.GetString("CartMoney");
    var CartQty = HttpContextAccessor.HttpContext.Session.GetString("CartQty");

    var CusId = HttpContextAccessor.HttpContext.Session.GetString("CusId");
    var CusName = HttpContextAccessor.HttpContext.Session.GetString("CusName");

    var StfId = HttpContextAccessor.HttpContext.Session.GetString("StfId");
    var StfName = HttpContextAccessor.HttpContext.Session.GetString("StfName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothes Shop</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebarFilter.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/ClothesShop.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" asp-append-version="true">


</head>
<body>
    <div id="sticker-sticky-wrapper" class="sticky-wrapper" style="height: 74px;">
        <div class="top-header-area" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="main-menu-wrap">
                            <!-- logo -->
                            <div class="site-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="">
                                </a>
                            </div>
                            <!-- logo -->
                            <!-- menu start -->
                            <nav class="main-menu" style="display: block;">
                                <ul>
                                    <li class="current-list-item">
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="men">Men</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="women">Women</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="kids">Kids</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="shop">Shop</a>
                                    </li>

                                    @if (@HttpContextAccessor.HttpContext.Session.GetString("CusId") != null)
                                    {
                                        @* <a class="btn btn-success text-white ms-2" asp-controller="Customer" asp-action="Show" asp-route-id="@CusId">
                                    <i class="bi bi-person"> @CusName</i>
                                    </a> *@
                                        <li style="float:right">
                                            <a href="#"><i class="bi bi-person-fill"></i>@CusName</a>
                                            <ul class="sub-menu">
                                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Show" asp-route-id="@CusId">ข้อมูลส่วนตัว</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="List" asp-route-cusid="@CusId">ประวัติการสั่งซื้อ</a></li>
                                                <li>
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout" onclick="return confirm('ออกจากระบบ')">
                                                        <i class="bi bi-box-arrow-right"></i>
                                                        Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li style="float:right">
                                            <a asp-controller="home" asp-action="Login"><i class="bi bi-person-fill"></i>เข้าสู่ระบบ</a>
                                        </li>
                                    }
                                    @if (@HttpContextAccessor.HttpContext.Session.GetString("CartId") != null)
                                    {
                                        <li style="float:right">
                                            <a asp-controller="Cart" asp-action="Show" asp-route-cartid="@CartId">
                                                <i class="bi bi-bag-fill"></i>
                                                @CartId [@CartMoney][@CartQty]
                                            </a>
                                        </li>
                                    }
                                </ul>

                            </nav>

                            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                            <div class="mobile-menu"></div>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="container"> *@
    @* <div class="@(noContainerClass ? "" : "container")"> *@
@*     <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
         </main>
    </div> *@
     @RenderBody() 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2566 - ClothesShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/NavScripts.js" asp-append-version="true"></script>
    <script src="~/js/filter.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.3.0/sticky.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @* <script src="~/js/script.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Load jQuery and jQuery UI -->

    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    @* <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script> 
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" /> *@

    @* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> *@

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @* <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> *@

</body>
</html>
